
@import url('https://fonts.googleapis.com/css?family=Rambla:400,700|Saira+Condensed:300,400,500,700,900');

/*************start*************/
html {
  scroll-behavior: smooth;
}
img {
	max-width:100%;
	display:inline-block;
}
body {
	font-family: 'Rambla', sans-serif;
	background: #161414;
}
h1, h2, h3, h4, h5, h6, p{
	margin:0px;
	padding:0px;
	font-weight: normal;
	line-height: 100%;
}
a, a:hover, a:focus{
	text-decoration:none;
	transition: 0.3s;
}


/*************Header Area start*************/
/*
.site_header{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 40px;
	z-index: 1000;
}*/
.site_header{
	width: 100%;
	display: block;
}
.site_header_inner{
	width: 100%;
	display: block;
	text-align: center;
	padding-top: 25px;
}
.site_header_inner a{
	width: 100%;
	display: block;
	text-align: center;
	text-decoration: none;
}
.site_header_inner .word{
	font-size: 22px;
	line-height: 120%;
	color: #fff;
	font-weight: 600;
	text-align: center;
	padding-top: 20px;
}

/**************Content Area Start *************/

.con_table_area{
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 15px 0px;
}
.con_table_area_inner{
	width: 100%;
	display: block;
	box-sizing: border-box;
}
.con_table_area_inner h1{
	width: 100%;
	display: block;
	font-size: 36px;
	color: #fff;
	line-height: 120%;
	text-align: center;
}
.table_list .col-lg-6{
	border: 1px solid#000;
}
.table_list p{
	width: 100%;
	display: block;
}
.table_list .col-lg-6 ul{
	list-style-type: none;
	display: block;
}
.table_list .col-lg-6 ul li{
	display: block;
	margin: 0;
	padding: 0;
}
.table_list a, .table_list .col-lg-6 ul li a{
	text-decoration: underline;
	width: 100%;
	display: block;
	font-size: 16px;
	line-height: 120%;
	color: #fff;
	padding: 5px;
}

/********** Contetn text Area Start **********/

.context_area{
	width: 100%;
	display: block;
	box-sizing: border-box;
}
.context_area_inner{
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 15px 0px;
}
.context_area_inner h1{
	display: block;
	width: 100%;
	font-size: 32px;
	line-height: 120%;
	color: #fff;
	font-weight: 800;
	padding-bottom: 15px;
}
.context_area_inner h3{
	display: block;
	width: 100%;
	font-size: 22px;
	line-height: 120%;
	color: #fff;
	font-weight: 800;
	padding-bottom: 15px;
}
.context_area_inner p{
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 120%;
	color: #fff;
	padding-bottom: 15px;
}






.context_area11 p{
	padding-top: 15px;
}
.context_area12 p{
	padding-top: 15px;
}
























/*************end*************/